@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
h1 {
  font-size: 23px;
}

p {
  font-size: 18px;
}

li i {
  color: #828282;
}

#block_page {
  max-width: 1250px;
  margin: auto auto;
}

body {
  margin: 0;
}

.header-master {
  display: flex;
  justify-content: center;
  padding: 25px 0 15px 0;
}
.header-master__link-home {
  align-items: center;
  display: flex;
  font-size: 18px;
}

.header__logo {
  width: 50%;
}

.restaurant-prev__grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}
.restaurant-prev__grid .restaurant-prev__box {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 10px 20px;
}
.restaurant-prev__grid .restaurant-prev__box-icon {
  display: flex;
  grid-column: span 2;
  grid-area: 2;
  grid-row: span 2;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
}
.restaurant-prev__grid .restaurant-prev__box .restaurant-prev__info {
  grid-area: 2;
}
.restaurant-prev__grid .restaurant-prev__box h3,
.restaurant-prev__grid .restaurant-prev__box p {
  margin: 0 0 5px 0;
}

.restaurant-prev {
  background-color: #F6F6F6;
  padding: 35px 18px 60px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-grid {
  display: grid;
  grid-gap: 20px;
  padding: 0 18px;
}

h1,
h2,
h3,
p,
li,
h4,
input {
  font-family: "Roboto";
}

li {
  list-style: none;
  font-weight: bold;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.restaurant-prev__image img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 20px 18px 50px 18px;
}
.explore .explore__tittle,
.explore .explore__info,
.explore .explore__btn {
  text-align: center;
}

footer {
  padding: 0 18px;
  background-color: #353535;
}

.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links .footer-links__tittle,
.footer-links .footer-links__link,
.footer-links h4 {
  color: #E3E3E3;
  font-family: "shrikhand";
  font-weight: normal;
  font-size: 18px;
}
.footer-links .footer-links__link {
  margin-bottom: 8px;
  font-family: "Roboto";
}
.footer-links .footer-links__link i {
  margin-right: 10px;
  font-size: 12px;
  width: 20px;
}

a:hover #footer-icons {
  transform: rotate(-45deg);
  transition: transform 200ms;
}

.explore__btn {
  background: linear-gradient(130deg, #9356DC, #FF79DA);
  color: white;
  border: none;
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 90px;
  font-family: "Roboto";
  box-shadow: 5px 5px 15px 1px #d0d0d0;
}
.explore__btn:hover {
  opacity: 90%;
  transform: opacity;
  transition: 300ms;
}

.btn-box {
  justify-content: center;
  display: flex;
  padding: 50px 0;
}
.btn-box .restaurant-page__btn {
  background: linear-gradient(130deg, #9356DC, #FF79DA);
  color: white;
  border: none;
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 90px;
  font-family: "Roboto";
  box-shadow: 5px 5px 15px 1px #d0d0d0;
  box-shadow: 5px 5px 15px 1px #d0d0d0;
  width: 175px;
}
.btn-box .restaurant-page__btn:hover {
  opacity: 90%;
  transform: opacity;
  transition: 300ms;
}

.location {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  background-color: #EAEAEA;
}
.location__form {
  width: 100%;
}
.location__field {
  border: none;
  text-align: center;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
}

input::-moz-placeholder {
  color: black;
}

input:-ms-input-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

.restaurant-prev__card {
  box-shadow: 5px 5px 15px 1px #d0d0d0;
  border-radius: 20px;
}

.restaurant-card {
  background: url("/images/restaurants/mini/Le_délice_des_sens_mini.jpg");
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
}
.restaurant-card__box-info {
  background-color: white;
  border-radius: 40px 40px 0 0;
}

li {
  border-radius: 20px;
  padding: 20px 24px 20px 0px;
  box-shadow: 5px 5px 15px 1px #d0d0d0;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
}
li i {
  padding: 0 20px;
  font-size: 19px;
  width: 20px;
}
li .nav-number {
  padding: 5px 10px;
  background-color: #9356DC;
  border-radius: 90px;
  color: white;
}
li:hover {
  transition: background-color 400ms;
  transform: background-color;
  background-color: #f2eafb;
}
li:hover i {
  color: #9356DC;
}

.nav__link div {
  margin-bottom: 32px;
}

.nav {
  padding: 30px 18px 32px 18px;
}
.nav h2 {
  margin-bottom: 30px;
}

.--box {
  border-radius: 20px;
  box-shadow: 5px 5px 15px 1px #d0d0d0;
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: auto auto;
}
.--box .check {
  display: flex;
  grid-column: span 2;
  grid-area: 2;
  grid-row: span 2;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.--box p {
  grid-area: 2;
}

.check .check {
  display: flex;
  grid-column: span 2;
  grid-area: 2;
  grid-row: span 2;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}/*# sourceMappingURL=main.css.map */