.restaurant-prev__card {
    @include box-shadow;
    border-radius: 20px;
}

.restaurant-card {
    background     : $img-la_palette_du_gout;
    height         : 300px;
    display        : flex;
    flex-direction : column-reverse;
    background-size: cover;

    &__box-info {
        background-color: white;
        border-radius   : 40px 40px 0 0;
        display         : flex;
        align-items     : center;
        padding         : 0 35px 0 20px;
        justify-content: space-between;

        i {
            justify-self: flex-end;
            font-size   : 25px;
        }
    }

    &__tittle {
        font-family: 'shrikhand';
        font-size  : 28px;
        font-weight: 200;
    }
}