.explore__btn {
    background   : linear-gradient(45deg, $color-primaire, $color-secondaire);
    border-radius: 90px;
    color        : white;
    padding      : 12px;
    border       : 1px solid black;
    font-size: 11px;
}