footer {
    padding         : 0 18px;
    background-color: #353535;
}

.footer-links {
    display       : flex;
    flex-direction: column;

    .footer-links__tittle,
    .footer-links__link {
        color: #E3E3E3;
    }

    .footer-links__link {
        margin-bottom: 8px;
        font-family  : 'Roboto';
        i{
            margin-right: 10px;
            font-size: 12px;
        }
    }
}