footer {
    padding         : 0 18px;
    background-color: #353535;
}

.footer-links {
    display       : flex;
    flex-direction: column;

    .footer-links__tittle,
    .footer-links__link {
        color: white;
    }

    .footer-links__link {
        margin-bottom: 8px;
    }
}