.restaurant-prev__grid {
    display              : grid;
    grid-template-columns: auto;
    grid-gap             : 20px;

    .restaurant-prev__box {
        display              : grid;
        grid-template-columns: auto auto;
        grid-template-rows   : auto auto;
        padding              : 10px 20px;

        &-icon {
            display        : flex;
            grid-column    : span 2;
            grid-area      : 2;
            grid-row       : span 2;
            justify-content: flex-end;
            align-items    : center;
            font-size      : 25px;
        }

        .restaurant-prev__info {
            grid-area: 2;
        }

        h3,
        p {
            margin: 0 0 5px 0;
        }
    }
}

.restaurant-prev {
    background-color: #F6F6F6;
    padding         : 35px 18px 60px 18px;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
}