.header-master {
    display: flex;
    padding: 25px 0 15px 0;

    &__link-home {
        align-items: center;
        display    : flex;
        font-size  : 18px;
        margin     : 0 40px 0 20px;
    }

    .header__logo {
        width: 170px;
    }
}