    li {
        border-radius  : 20px;
        padding        : 20px 24px 20px 0px;
        justify-content: space-between;
        @include box-shadow;
        background-color: $color-box;
        display         : flex;
        align-items     : center;
        i {
            font-size: 19px;
        }

        &:hover {
            transition      : background-color 400ms;
            transform       : background-color;
            background-color: lighten($color-primaire, 35);
            & i {
                color: $color-primaire;
            }
        }

        span {
            padding         : 5px 10px;
            background-color: #9356DC;
            border-radius   : 90px;
            color           : white;
        }
    }

    .nav__link div {
        margin-bottom: 32px;
    }

    .nav {
        padding: 30px 18px 32px 18px;

        h2 {
            margin-bottom: 30px;
        }
    }