    li {
        border-radius  : 20px;
        padding        : 24px 24px 24px 0px;
        justify-content: space-between;
        @include box-shadow;
        background-color: $color-box;
        display         : flex;
        align-items     : center;

        span {
            padding         : 5px 10px;
            background-color: #9356DC;
            border-radius   : 90px;
            color           : white;
        }
    }

    .nav__link div {
        margin-bottom: 30px;
    }

    nav {
        padding: 0 18px;
    }