    li {
        border-radius: 20px;
        padding      : 20px 24px 20px 0px;
        @include box-shadow;
        background-color: $color-box;
        display         : flex;
        align-items     : center;

        i {
            padding  : 0 20px;
            font-size: 19px;
            width    : 20px;

        }

        .nav-number {
            padding         : 5px 10px;
            background-color: $color-primaire;
            border-radius   : 90px;
            color           : white;
        }

        &:hover {
            transition      : background-color 300ms;
            background-color: lighten($color-primaire, 35);
            cursor          : pointer;

            & i {
                color: $color-primaire;
            }
        }

    }

    .nav__link div {
        margin-bottom: 32px;

        ul {
            padding: 0;
        }
    }

    .nav {
        padding: 30px 18px 32px 18px;

        h2 {
            margin-bottom: 30px;
        }
    }

    .--box {
        @include box-menu;
        @include grid--box;
        cursor: pointer;
        animation:  menu-animation 2s;
    }

    .check {
        @include check;
    }

    .restaurant-page {
        &__la_note_enchantee {
            .restaurant-card {
                background     : url(https://raw.githubusercontent.com/AdrienBriaux/AdrienBriaux_3_26042021/master/images/restaurants/mini/La_note_enchant%C3%A9e_mini.jpg) no-repeat;
                height         : 290px;
                display        : flex;
                flex-direction : column-reverse;
                background-size: cover;
            }
        }

        &__la_palette_du_gout {
            .restaurant-card {
                background     : url(https://raw.githubusercontent.com/AdrienBriaux/AdrienBriaux_3_26042021/master/images/restaurants/mini/la_palette_du_gout_mini.jpg) no-repeat;
                height         : 290px;
                display        : flex;
                flex-direction : column-reverse;
                background-size: cover;
            }

        }

        &__a_la_francaise {
            .restaurant-card {
                background     : url(https://raw.githubusercontent.com/AdrienBriaux/AdrienBriaux_3_26042021/master/images/restaurants/mini/%C3%A0_la_fran%C3%A7aise_mini.jpg) no-repeat;
                height         : 290px;
                display        : flex;
                flex-direction : column-reverse;
                background-size: cover;
            }
        }

        &__le_delice_des_sens {
            .restaurant-card {
                background     : url(https://raw.githubusercontent.com/AdrienBriaux/AdrienBriaux_3_26042021/master/images/restaurants/mini/Le_d%C3%A9lice_des_sens_mini.jpg) no-repeat;
                height         : 290px;
                display        : flex;
                flex-direction : column-reverse;
                background-size: cover;
            }
        }
    }