$color-primaire  : #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire : #99E2D0;
$color-box       : #F6F6F6;

$color__a-primaire: black;

$img-la_palette_du_gout: url(/images/restaurants/mini/la_palette_du_gout_mini.jpg);
$img-le_delice_des_sens: url(/images/restaurants/mini/Le_délice_des_sens_mini.jpg);
$img-la_note_enchantée : url(/images/restaurants/mini/La_note_enchantée_mini.jpg);
$img-a_la_française    : url(/images/restaurants/mini/à_la_française_mini.jpg);